<!-- Componente responsável pela tabela -->
<div class="flex justify-center w-full pl-[11rem] md:pl-0">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full rounded-lg overflow-hidden shadow-lg w-full ">

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="p-2"> Imagem</th>
      <td mat-cell *matCellDef="let product" class="flex justify-center">
        <img [src]="'data:image/png;base64,' + product.image" alt="Product Image" class="circular-image" />
      </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="p-2"> ID</th>
      <td mat-cell *matCellDef="let product" class="p-2"> {{ product.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="p-2"> Nome</th>
      <td mat-cell *matCellDef="let product" class="p-2"> {{ product.name }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef class="p-2"> Descrição</th>
      <td mat-cell *matCellDef="let product" class="p-2"> {{ product.description }}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="p-2"> Preço</th>
      <td mat-cell *matCellDef="let product" class="p-2 mr-2"><b>R$ {{ product.price }} </b></td>
    </ng-container>

    <!-- Options Column -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef class="p-2"> Opções</th>
      <td mat-cell *matCellDef="let product" class="p-2">
        <button (click)="editProduct(product.id)" mat-button class="bg-blue-500 text-white p-2 rounded">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteProduct(product.id)" mat-button class="bg-red-500 text-white p-2 rounded">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Columns displayed -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-gray-200"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-100"></tr>
  </table>
</div>
