<!-- DIV PAI DO FORMULÁRIO DE PRODUTOS -->
<div class="px-4 py-4">
  <!-- TÍTULO DO FORMULÁRIO -->
  <h1 class="text-center">Adicionar Produto</h1>
  <!-- FORMULÁRIO DE PRODUTOS -->
  <form [formGroup]="productForm" class="flex flex-col gap-2.5">
    <!-- CAMPO DE UPLOAD DE IMAGEM -->
    <div class="image-upload flex flex-col items-center gap-2.5">
      <input type="file" (change)="onFileSelected($event)" class="hidden" id="fileInput">
      <label for="fileInput" class="cursor-pointer">
        <div class="image-preview w-24 h-24 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden">
          @if (imageSrc && isEditMode) {
            <img [src]="'data:image/png;base64,' + imageSrc " alt="Image Preview" class="circular-image">
          } @else if (imageSrc && !isEditMode) {
            <img [src]="imageSrc" alt="Image Preview" class="circular-image">
          } @else if (!imageSrc) {
            <mat-icon class="text-gray-500">photo_camera</mat-icon>
          }
        </div>
      </label>
      @if (productForm.get('image')?.hasError('required')) {
        <mat-error>
          Imagem é obrigatória
        </mat-error>
      }
    </div>
    <!-- CAMPO DE NOME COM VALIDAÇÃO -->
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" maxlength="100">
      @if (productForm.get('name')?.hasError('required')) {
        <mat-error>
          Nome é obrigatório
        </mat-error>
      } @else if (productForm.get('name')?.hasError('minlength')) {
        <mat-error>
          Nome deve ter no mínimo 3 caracteres
        </mat-error>
      } @else if (productForm.get('name')?.hasError('maxlength')) {
        <mat-error>
          Nome deve ter no máximo 100 caracteres
        </mat-error>
      }
    </mat-form-field>
    <!-- CAMPO DE DESCRIÇÃO COM VALIDAÇÃO -->
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="description" maxlength="400">
      @if (productForm.get('description')?.hasError('required')) {
        <mat-error>
          Descrição é obrigatória
        </mat-error>
      }
    </mat-form-field>
    <!-- CAMPO DE PREÇO COM VALIDAÇÃO E MÁSCARA DE REAL-->
    <mat-form-field>
      <mat-label>Preço</mat-label>
      <input matInput type="text" formControlName="price" (input)="formatCurrency($event)">
      @if (productForm.get('price')?.hasError('required')) {
        <mat-error>
          Preço é obrigatório
        </mat-error>
      } @else if (productForm.get('price')?.hasError('min')) {
        <mat-error>
          Preço deve ser maior ou igual a 0
        </mat-error>
      }
    </mat-form-field>
    <!-- CAMPO DE QUANTIDADE COM VALIDAÇÃO -->
    <div mat-dialog-actions>
      <button mat-button (click)="closeDialog()">Cancelar</button>
      <button mat-button [disabled]="productForm.invalid" (click)="saveProduct()">Salvar</button>
    </div>
  </form>
</div>
